@model Vacation

@{
    ViewData["title"] = "Delete";
}

<h3 class="lead text-center">Are you sure you want the vacation at @Model.Location.Name on @Model.StartDate.ToShortDateString() thru @Model.EndDate.ToShortDateString()?</h3>

<form asp-action="Delete" method="post" class="text-center">

    <input type="hidden" asp-for="VacationId" />
    <input type="hidden" asp-for="Location.Name" />
    <input type="hidden" asp-for="StartDate" />
    <input type="hidden" asp-for="EndDate" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Vacation" asp-action="List"
       class="btn btn-primary">Cancel</a>
</form>