@{
    var confirmationMessage = TempData?["ConfirmationMessage"]?.ToString() ?? string.Empty;
    var errorMessage = TempData?["ErrorMessage"]?.ToString() ?? string.Empty;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Williams | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="jumbotron bg-dark text-white mb-0 text-center">
            <h1 class="display-2">Vacation Planner</h1>
        </div>
    </div>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" asp-controller="Vacation" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" asp-controller="Vacation" asp-action="StepOne">Add Vacation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" asp-controller="Manage" asp-action="Index">Manage</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">

            @if (confirmationMessage != string.Empty)
            {
                <div class="alert alert-success alert-dismissible fade show container" role="alert">
                    @confirmationMessage
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (errorMessage != string.Empty)
            {
                <div class="alert alert-danger alert-dismissible fade show container" role="alert">
                    @errorMessage
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WilliamsVacationPlanner
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
